<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>music</title>
    <% for (var i in cssCdn) { %>
      <link href="<%= cssCdn[i] %>" rel="stylesheet" />
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <% for (let i in jsCdn) { %>
      <script src="<%= jsCdn[i] %>"></script>
    <% } %>
    <!-- 入口文件 -->
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
